/* general */
body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1em;
}
img {
    width: 100%;
}

/* main */
#mail {
    width: 30%;
    margin-right: 20px;
}
div.banner {
    width: 250px;
    margin: 0 auto;
}
div.versus>div:first-child,
div.versus>div:last-child {
    width: 35%;
}
div.versus>div:nth-child(2) {
    width: 30%;
}